#root {
	min-width: $size__min-width;
	padding: $spacing__content $spacing__content-l;
	padding-left: $size__sidebar + $spacing__content-l;
}

::-webkit-scrollbar {     
	background-color: $color__bg;
	width: 4px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
	background: $color__bg-dark;
}

body {
	&.overlay {
		overflow: hidden;
	}
}

#sidebar,
#content,
#off-canvas {
	opacity: 1;
	transition: opacity 0.2s;

	.unfocus & {
		opacity: 0.4;
	}

	.unfocus &,
	.loading & {
		pointer-events: none;
	}
}

// Overlay.

#overlay {
	position: fixed;
	top: 0;
	left: $size__sidebar;
	right: 0;
	bottom: 0;
	background-color: $color__bg;

	#overlay-content {
		height: 100%;
		padding: $spacing__content;
		overflow: auto;
	}
}

// Off-canvas.

#off-canvas {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: $size__off-canvas;
	padding-left: $spacing__content;
	color: $color__text-lighter;
	background-color: $color__bg-darker;
	box-shadow: -1px 0 30px rgba(0,0,0,0.15);
	transform: translate($size__off-canvas, 0);
	transition: transform 0.2s;
}

body.off-canvas {
	#off-canvas {
		transform: translate(0, 0);
	}
}
