* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Inter-UI', sans-serif;
	box-sizing: border-box;
}

#wrap {
	min-width: $size__min-width;
	padding: $spacing__content $spacing__content-l;
	padding-left: $size__sidebar + $spacing__content-l;
}

#sidebar,
#content {
	opacity: 1;
	transition: opacity 0.2s;

	.unfocus & {
		opacity: 0.4;
	}

	.unfocus &,
	.loading & {
		user-select: none;
		pointer-events: none;
	}
}

// Off-canvas.

#off-canvas {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: $size__off-canvas;
	color: $color__text-lighter;
	background-color: $color__bg-darker;
	box-shadow: -1px 0 30px rgba(0,0,0,0.15);
	transform: translate($size__off-canvas, 0);
	transition: transform 0.3s;
}

body.off-canvas {
	#off-canvas {
		transform: translate(0, 0);
	}
}
