::-webkit-scrollbar {     
	background-color: $color__bg;
	width: 4px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
	background: $color__bg-dark;
}

body {
	&.overlay {
		overflow: hidden;
	}
}

html,
body,
#root,
#app,
#content-wrap {
	height: 100%;
}

#root {
	min-width: $size__min-width;
	padding: $spacing__content $spacing__content-l;
	padding-left: $size__sidebar + $spacing__content-l;
}

#content-wrap {
	position: relative;
}

#sidebar,
#content,
#panel {
	opacity: 1;
	transition: opacity 0.2s;

	.unfocus & {
		opacity: 0.4;
	}

	.unfocus &,
	.loading & {
		pointer-events: none;
	}
}

// Overlay.
#overlay {
	position: fixed;
	top: 0;
	left: $size__sidebar;
	right: 0;
	bottom: 0;
	background-color: $color__bg;
	z-index: 1;

	#overlay-content {
		height: 100%;
		padding: $spacing__content;
		overflow: auto;
	}
}

// No content.
.no-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.inner {
		position: absolute;
		top: 50%;
		left: 50%;
		cursor: default;
		text-align: center;
		color: $color__text-light;
		transform: translate(-50%, -50%);
	}

	h1, h2, h3, h4, h5, h6, p {
		&:not(:last-child) {
			margin-bottom: $spacing__content;
		}
	}
}

// Welcome screen.
.welcome-screen {
	background-image: url( '#{$path__res}/img/package.svg' );
	background-repeat: no-repeat;
	background-size: 256px;
	background-position: 80% 80%;
}
