// Field.
.field {
	margin-bottom: $spacing__content;

	.field-label {
		font-weight: normal;
		cursor: default;
	}

	// Label positions.
	&.label-top {
		.field-label {
			display: block;
			margin-bottom: $spacing__content-s;
		}
	}

	&.label-left {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.field-label {
			flex-grow: 1;
		}
	}

	// General styling.
	.field-cont {
		input[type="text"] {
			width: 100%;
			height: $size__input;
			padding: 0 $spacing__content-s;
			font-size: 1rem;
			color: $color__text;
			line-height: $size__input;
			border-radius: $border-radius;
			border: 1px solid $color__border-alt;
			background-color: $color__border;
		}
	}
}

// Switch.
.field-switch {
	input[type="checkbox"] {
		height: 0;
		width: 0;
		visibility: hidden;
		position: absolute;
		top: 0;

		&:checked {
			+ label {
				background: $color__green;

				&:before {
					left: calc(100% - 4px);
					transform: translateX(-100%);
				}

				// &:after {
				// 	content: 'ON';
				// 	left: ( $size__input - 12px ) / 2;
				// 	right: 30px;
				// }
			}
		}

		&:disabled {
			+ label {
				opacity: 0.2;
				cursor: default;
				pointer-events: none;
				filter: grayscale(100%);
			}
		}
	}

	label {
		display: block;
		width: $size__input * 1.65;
		height: $size__input;
		position: relative;
		cursor: pointer;
		text-indent: -9999px;
		opacity: 1;
		background: darken( $color__bg, 60 );
		border-radius: $size__input / 2;
		transition: opacity 0.2s, background-color 0.2s;

		&:before {
			content: '';
			position: absolute;
			top: 4px;
			left: 4px;
			width: $size__input - 8px;
			height: $size__input - 8px;
			background: #fff;
			border-radius: ( $size__input - 8px ) / 2;
			transition: 0.3s;
		}

		// &:after {
		// 	content: 'OFF';
		// 	position: absolute;
		// 	top: ( $size__input - 12px ) / 2;
		// 	left: 30px;
		// 	right: ( $size__input - 12px ) / 2;
		// 	height: 12px;
		// 	color: #fff;
		// 	line-height: 12px;
		// 	font-size: 10px;
		// 	font-weight: bold;
		// 	text-align: center;
		// 	text-indent: 0;
		// }

		&:active:before {
			width: $size__input - 4px;
		}
	}
}

// Select.
.field-select {
	.field-cont {
		position: relative;
	}

	select,
	label {
		display: block;
		width: 100%;
		height: $size__input;
		text-align: center;
		line-height: $size__input;
		padding: 0 $spacing__content-s;
		border-radius: $border-radius;
	}

	label {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1rem;
		color: $color__text;
		background-color: $color__border;
		border: 1px solid $color__border-alt;
		z-index: 0;
	}

	select {
		position: relative;
		cursor: pointer;
		color: transparent;
		font-size: 1rem;
		appearance: none;
		-webkit-appearance: none;
		border: 0;
		background-color: transparent;
		z-index: 1;

		option {
			color: $color__text;
			background-color: $color__border;
		}
	}
}

// Buttons.
button,
.button,
input[type="button"],
input[type="submit"] {
	$default-color: $color__border-dark;
	$default-text-color: choose-contrast-color( $default-color, $color__text-lighter, $color__text-dark );

	cursor: pointer;
	height: $size__input;
	padding: 0 $size__input / 2;
	opacity: 1;
	font-size: 1rem;
	line-height: $size__input;
	color: $default-text-color;
	background-color: $default-color;
	border: 1px solid darken( $default-color, 10 );
	border-radius: $border-radius;
	transition: background-color 0.2s, border-color 0.2s, opacity 0.2s;
	-webkit-appearance: none;

	&.outline {
		color: $default-color;
		border-color: $default-color;
		background-color: transparent !important;
	}

	&.flat {
		border-width: 0;
	}

	&:disabled {
		opacity: 0.6;
		cursor: default;
	}

	&.loading {
		cursor: wait;
	}

	// Sizes.
	$button-sizes: (
		'small': round( $size__input * 0.75 ),
		'large': round( $size__input * 1.3 ),
		'extra': round( $size__input * 1.6 )
	);
	@each $size_name, $size in $button-sizes {
		&.#{$size_name} {
			height: $size;
			line-height: $size;
			padding: 0 $size / 2;
		}
	}

	// Colors.
	$button-colors: (
		'red': $color__red,
		'green': $color__green,
		'blue': $color__blue,
		'orange': $color__orange,
		'black': $color__bg-darker,
		'white': $color__bg,
		'off-white': $color__bg-alt
	);
	@each $color_name, $color in $button-colors {
		&.#{$color_name} {
			$text-color: choose-contrast-color( $color, $color__text-lighter, $color__text-dark );

			color: $text-color;
			background-color: $color;
			border-color: darken( $color, 10 );

			&.outline {
				color: $color;
				border-color: $color;
			}
		}
	}

	// Override green button text color.
	&.green {
		color: $color__text-lighter;
	}
}

// Save file field.
.field-save-file {
	small {
		cursor: pointer;
	}
}
