#header {
	margin-bottom: $spacing__header;
}

// Project Select.

$action-size: $size__header;
$actions-width: $action-size * 3;

#project-select {
	position: relative;

	&.selected {
		padding-right: $actions-width;
	}

	&:not(.selected) #project-select-dropdown:not(.open) {
		transition: none;
	}
}

#project-active {
	cursor: pointer;
	height: $size__header;
	user-select: none;
	position: relative;

	h1 {
		font-weight: bold;
		font-size: 1.1rem;
		color: $color__text;
		line-height: 3 / 5 * $size__header;
	}

	h2 {
		font-size: 1rem;
		font-weight: normal;
		color: $color__text-light;
		line-height: 2 / 5 * $size__header;
	}

	h1,
	h2 {
		margin: 0;
	}
}

#project-actions {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: $action-size / -2;

	a {
		float: left;
		width: $action-size;
		height: $action-size;
		opacity: 0.4;
		background-size: 16px;
		background-repeat: no-repeat;
		background-position: center;
		transition: opacity 0.2s;

		&:hover {
			opacity: 1;
		}

		&.toggle {
			background-image: url( '#{$path__res}/img/stop.svg' );

			&.paused {
				background-image: url( '#{$path__res}/img/start.svg' );
			}
		}

		&.refresh {
			background-image: url( '#{$path__res}/img/sync.svg' );
		}

		&.remove {
			background-image: url( '#{$path__res}/img/x.svg' );
		}
	}
}

#project-select-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	border: 1px solid $color__border;
	background-color: $color__bg-alt;
	box-shadow: 0 1px 30px rgba(0,0,0,0.1);
	transform: translate( 0, 0 );
	transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
	z-index: 9;

	&.open {
		opacity: 1;
		visibility: visible;
		transform: translate( 0, $spacing__header - 1px );
	}

	> div {
		cursor: pointer;
		height: $size__list-item;
		line-height: $size__list-item;
		color: $color__text;
		padding: 0 $spacing__content-s;
		border-bottom: 1px solid $color__border;
		background-color: $color__bg-alt;
		transition: background-color 0.2s;

		&:hover {
			background-color: $color__bg;
		}

		&:last-child {
			border-bottom-width: 0;
		}
	}
}