#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: $size__sidebar;
	border-right: 1px solid $color__border;
	background-color: $color__bg-alt;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			position: relative;
			cursor: pointer;
			border-bottom: 1px solid $color__border;
			border-right: 1px solid $color__border;
			background-color: transparent;
			transition: background-color 0.2s;

			&:hover,
			&.active {
				background-color: $color__bg;

				.icon {
					opacity: 1;
				}
			}

			&.active {
				border-right-color: $color__bg;
			}

			&,
			.icon {
				width: $size__sidebar;
				height: $size__sidebar;
			}

			.icon {
				display: block;
				opacity: 0.6;
				background-size: $size__menu-icon;
				background-repeat: no-repeat;
				background-position: center;
				transition: opacity 0.2s;
			}

			&[data-view="files"] .icon {
				background-image: url( '#{$path__res}/img/files.svg' );
			}

			&[data-view="logs"] .icon {
				background-image: url( '#{$path__res}/img/pulse.svg' );
			}

			&[data-view="settings"] .icon {
				background-image: url( '#{$path__res}/img/settings.svg' );
			}
		}
	}
}