#files {
	border-left: 1px solid $color__border;
	border-right: 1px solid $color__border;

	&,
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		cursor: pointer;
		margin-top: -1px;
		overflow: hidden;
		position: relative;
		border-top: 1px solid $color__border;
		border-bottom: 1px solid $color__border;

		&:hover,
		&.active {
			> .filename {
				box-shadow: inset 1px 0 0 $color__bg-dark;
			}
		}

		&:after {
			content: '';
			opacity: 0;
			transform: translate(24px, 0);
			transition: opacity 0.1s, transform 0.1s;
			transition-delay: 0.175s;
		}

		&.has-options:after {
			position: absolute;
			top: 0;
			right: $size__off-canvas - $spacing__content-l - 1px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 20.5px 24px 20.5px 0;
			border-color: transparent $color__bg-darker transparent transparent;
			opacity: 1;
			transform: translate(0, 0);
			transition-delay: 0;
		}
	}

	.filename {
		height: $size__list-item;
		line-height: $size__list-item;
		padding: 0 $spacing__content-s;
		box-shadow: none;
		transition: box-shadow 0.1s;

		span,
		strong {
			display: inline-block;
			vertical-align: middle;
		}

		span {
			opacity: 0.75;
			width: $size__list-icon;
			height: $size__list-icon;
			margin-right: $spacing__content-s;
			background-size: auto;
			background-repeat: no-repeat;
			background-position: center;
			transition: opacity 0.2s;
		}

		strong {
			font-weight: normal;
			color: $color__text;
		}
	}

	.children {
		> li {
			&:last-child {
				border-bottom-color: transparent;
			}

			&:not(:first-child) {
				border-top-color: transparent;
			}
		}
	}

	// Icons.
	$filetypes: (
		'zip',
		'text',
		'code',
		'media',
		'binary',
		'directory',
	);

	@each $filetype in $filetypes {
		.#{$filetype} > .filename .icon {
			background-image: url( '#{$path__res}/img/filetypes/file-#{$filetype}.svg' );
		}
	}

	// Informative.
	li.informative {
		height: auto;
		cursor: default;
		color: $color__text-light;
		font-weight: normal;
		font-size: 1.1rem;
		padding: $spacing__content-l;
		background-color: $color__bg-alt;

		&.loading {
			.inner {
				animation: bounce 1.2s ease-in;
				animation-iteration-count: infinite;
			}
		}
	}
}

// File options.
#file-options {
	height: 100%;
	position: relative;

	.header {
		text-align: center;
	}

	.body {
		> p,
		> .field {
			margin-bottom: 0;
		}

		hr {
			margin: 0;
			border-color: $color__border-darker;
			border-bottom-width: 0;
		}
	}

	.footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding-right: $spacing__content;

		button {
			width: 100%;
		}
	}

	.header,
	.body > p,
	.body > .field,
	.footer {
		padding: $spacing__content;
		padding-left: 0;
	}

	.body,
	.footer {
		border-top: 1px solid $color__border-darker;
	}
}