#files {
	border-left: 1px solid $color__border;
	border-right: 1px solid $color__border;

	&,
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		cursor: pointer;
		margin-top: -1px;
		overflow: hidden;
		border-top: 1px solid $color__border;
		border-bottom: 1px solid $color__border;
	}

	.filename {
		padding: $spacing__content-s;
		box-shadow: none;
		transition: box-shadow 0.2s;

		span,
		strong {
			display: inline-block;
			vertical-align: middle;
		}

		span {
			opacity: 0.75;
			width: $size__list-icon;
			height: $size__list-icon;
			margin-right: $spacing__content-s;
			background-size: auto;
			background-repeat: no-repeat;
			background-position: center;
			transition: opacity 0.2s;
		}

		strong {
			font-size: 1.1em;
			font-weight: 500;
			color: $color__text;
		}
	}

	li:hover > .filename {
		box-shadow: inset 1px 0 0 $color__bg-dark;
	}

	// li:nth-child(odd) > .filename {
	// 	background-color: $color__bg;
	// }

	// li:nth-child(even) > .filename {
	// 	background-color: darken( $color__bg, 2 );
	// }

	.children {
		max-height: 0;
		transition: max-height 0.3s;

		> li {
			&:last-child {
				border-bottom-color: transparent;
			}

			&:not(:first-child) {
				border-top-color: transparent;
			}
		}
	}

	li.expand > .children {
		max-height: none;
	}

	// Icons.
	$filetypes: (
		'zip',
		'text',
		'code',
		'media',
		'binary',
		'directory',
	);

	@each $filetype in $filetypes {
		.#{$filetype} > .filename .icon {
			background-image: url( '#{$path__res}/img/filetypes/file-#{$filetype}.svg' );
		}
	}
}