#files {
	border-left: 1px solid $color__border;
	border-right: 1px solid $color__border;

	&,
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		cursor: pointer;
		position: relative;
		border-bottom: 1px solid $color__border;

		&:first-child {
			border-top: 1px solid $color__border;
		}

		&:hover,
		&.active {
			> .filename {
				box-shadow: inset 1px 0 0 $color__bg-dark;
			}
		}

		&:before,
		&:after {
			position: absolute;
			top: 0;
			right: -$spacing__content-l - 2px;
			width: 0;
			height: 0;
			content: '';
			cursor: default;
			opacity: 0;
			border-style: solid;
			transition: opacity 0.1s, transform 0.1s;
			z-index: 1;
		}

		&:before {
			top: -1px;
			transform: translate(25px, 0);
			border-width: 21.5px 25px 21.5px 0;
			border-color: transparent $color__border transparent transparent;
		}

		&:after {
			transform: translate(24px, 0);
			border-width: 20.5px 24px 20.5px 0;
			border-color: transparent $color__bg-alt transparent transparent;
		}

		&.has-options {
			&:before,
			&:after {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}

	.filename {
		height: $size__list-item;
		line-height: $size__list-item;
		padding: 0 $spacing__content-s;
		color: $color__text;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		box-shadow: none;
		transition: box-shadow 0.1s;

		span {
			display: inline-block;
			vertical-align: middle;
			width: $size__list-icon;
			height: $size__list-icon;
			margin-right: $spacing__content-s;
			opacity: 0.75;
			background-size: auto;
			background-repeat: no-repeat;
			background-position: center;
			transition: opacity 0.2s;
		}

		strong {
			font-weight: normal;
		}
	}

	.children {
		> li {
			&:last-child {
				border-bottom-color: transparent;
			}

			&:not(:first-child) {
				border-top-color: transparent;
			}
		}
	}

	// Icons.
	$filetypes: (
		'zip',
		'text',
		'code',
		'media',
		'binary',
		'directory',
	);

	@each $filetype in $filetypes {
		.#{$filetype} > .filename .icon {
			background-image: url( '#{$path__res}/img/filetypes/file-#{$filetype}.svg' );
		}
	}
}